services:
  producer:
    container_name: producer
    build:
      context: .
      dockerfile: docker/producer.Dockerfile
    depends_on:
      - kafka
    environment:
      # Use internal listener for inter-container comms
      - KAFKA_BROKER=kafka:29092

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://192.168.49.1:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  ml_service:
    build:
      context: .
      dockerfile: docker/ml_service.Dockerfile
    container_name: ml_service
    ports:
      - "5000:5000"
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER=kafka:29092

  alert_service:
    build:
      context: .
      dockerfile: docker/alert_service.Dockerfile
    container_name: alert_service
    ports:
      - "5001:5001"
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER=kafka:29092

  web_ui:
    build:
      context: .
      dockerfile: docker/web_ui.Dockerfile
    container_name: web_ui
    ports:
      - "8000:8000"
    depends_on:
      - ml_service
      - alert_service

  spark:
    build:
      context: .
      dockerfile: docker/spark.Dockerfile
    container_name: spark
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER=kafka:29092
      - ML_SERVICE_URL=http://ml_service:5000/predict
      - ALERT_SERVICE_URL=http://alert_service:5001/alert


