apiVersion: apps/v1
kind: Deployment
metadata:
  name: fraud-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fraud-producer
  template:
    metadata:
      labels:
        app: fraud-producer
    spec:
      containers:
      - name: fraud-producer
        image: honey254/fraud-producer:1.0.0
        imagePullPolicy: IfNotPresent
        env:
        - name: KAFKA_BROKER
          value: "kafka.default.svc.cluster.local:9092"
