apiVersion: apps/v1
kind: Deployment
metadata:
  name: fraud-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fraud-producer
  template:
    metadata:
      labels:
        app: fraud-producer
    spec:
      containers:
      - name: fraud-producer
        image: fraud-producer:latest
        imagePullPolicy: Never
        env:
        - name: KAFKA_BROKER
          value: "192.168.49.1:9092"
