apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: bitnami/kafka:3.5.0
          ports:
            - containerPort: 9092
          env:
            - name: KAFKA_CFG_ZOOKEEPER_CONNECT
              value: zookeeper:2181

            - name: KAFKA_CFG_LISTENERS
              value: PLAINTEXT://:9092

            - name: KAFKA_CFG_ADVERTISED_LISTENERS
              value: PLAINTEXT://kafka:9092

            - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
              value: PLAINTEXT:PLAINTEXT

            - name: KAFKA_CFG_INTER_BROKER_LISTENER_NAME
              value: PLAINTEXT

            - name: KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"

            - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
              value: "true"

            - name: ALLOW_PLAINTEXT_LISTENER
              value: "yes"
