---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: default
  labels:
    app: zookeeper
spec:
  type: ClusterIP
  selector:
    app: zookeeper
  ports:
    - name: client
      port: 2181
      targetPort: 2181
      protocol: TCP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
      - name: zookeeper
        image: wurstmeister/zookeeper:latest
        ports:
        - containerPort: 2181

---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: default
  labels:
    app: kafka
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
    - name: broker
      port: 9092
      targetPort: 9092
      protocol: TCP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: quay.io/strimzi/kafka:0.40.0-kafka-3.7.0
        ports:
        - containerPort: 9092
        command:
        - /bin/bash
        - -c
        - |
          export CLUSTER_ID=$(bin/kafka-storage.sh random-uuid)
          bin/kafka-storage.sh format -t $CLUSTER_ID -c config/kraft/server.properties
          bin/kafka-server-start.sh config/kraft/server.properties \
            --override advertised.listeners=PLAINTEXT://kafka:9092 \
            --override listeners=PLAINTEXT://0.0.0.0:9092 \
            --override auto.create.topics.enable=true
